---
// import BlogPost from "../components/BlogPost.astro";
// import Newsletter from "../components/Newsletter.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <!-- <BlogPost /> -->
    <!-- <Newsletter /> -->
    <div class="pt-16"></div>
</MainLayout>
