---
import ProjectsSection from "../components/ProjectsSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="pt-8 lg:pt-16">
        <ProjectsSection />
    </div>
</MainLayout>